body {
	margin:0;
}
.container {
    width:80%;
    margin:0 auto;
}
.caption {
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-weight: 600;
	font-size:40px;
	margin-top:1px;
	color:white;
	float:left;
}
.world {
	color:#00FFFF;
}
.header-top {
	background:#252C2C;
	height:51px;
}
.social {
	margin-top:13px;
	float:right;
}
.socials_link {
	height:25px;
	width:25px;
	margin-right:10px;
}
.header-top::after {
	content: '.';
	display:block;
	clear:both;
	height:0;
}
.header-bottom {
	height:60px;
}
.item {
	float:left;
	padding-right:20px;
	margin-top:22px;
}

form {
	float:right;
	border:1px solid gray;
	height:20px;
	margin-top:17px;
	padding:2px;
}
.search {
	border:none;
	height:100%;
	outline: none;
}
.button {
	border:none;
	height:20px;
	width:20px;
	outline: none;
	background:white;
}

	
.link {
	display:inline-block;
	margin-right:15px;
	outline: none;
    text-decoration: none;
	color:gray;
	height:35px;
}
.link:hover {
	color:#42DCE1;
	border-bottom: 3px solid;
}
.item:hover {
  
  color:#42DCE1;
}
.header-bottom::after {
	content: '.';
	display:block;
	clear:both;
	height:0;
}
.banner {
	position:relative;
	
}
.banner img {
	width:100%;
}	
.text {
	position:absolute;
	top:130px;
	left:430px;
	text-align:center;
	color:white;
}
.desk {
	text-align:center;
	color:gray;
}
.title {
	font-size:25px;
}
.bold {
	font-weight:bold;
}
.iMac {
	width:32%;
	text-align:center;
	float:left;
	margin-right:15px;
}
.subject {
	font-weight:normal;
	font-size:22px;
}
.photo {
	width:32%;
	text-align:center;
	float:left;
}
.pencil {
	width:32%;
	text-align:center;
	margin-top:40px;
	float:left;
	margin-right:15px;
} 
.skills {
    margin-top:40px;
	color:gray;
}
.skills:after {
	content: '.';
	display:block;
	clear:both;
	height:0;
}
.gallery {
	position:relative;
	background:#C4E5F6;
}
.gallery::after {
    content: ''; 
    position: absolute;
    right: 48%; 
	top: -12%;
    border: 30px solid transparent;
    border-bottom: 60px solid #C4E5F6;
   }

.brd {
	margin-top:-5px;
	border:1px solid;
	width:100%;
	margin-left: auto;
    margin-right: auto;
}

.gallery-top {
	margin-top:50px;
	color:gray;
	padding-top:20px;
}
.pic {
	width:100%;
    height:230px;
}
	
.car {
    float:left;
    width:31%;
	border:1px solid;
    margin-right:3%;
}
.tree {
    float:left;
    width:31%;
	border:1px solid;
    margin-right:3%;
}
.wheat {
    float:left;
    width:31%;
	border:1px solid;
}
.gallery-top:after {
	content: '.';
	display:block;
	clear:both;
	height:0;
}
.gallery-bottom {
	color:gray;
	padding-bottom:20px;
}	
.smoke {
    float:left;
    width:31%;
	border:1px solid;
	margin-right:3%;
	margin-top:15px;
}
.grass {
    float:left;
    width:31%;
	border:1px solid;
	margin-right:3%;
	margin-top:15px;
}
.raspberry {
    float:left;
    width:31%;
	border:1px solid;
	margin-top:15px;
}
.minitext {
	margin-top:-15px;
}
.gallery-bottom:after {
	content: '.';
	display:block;
	clear:both;
	height:0;
}
.sport {
	margin-top:60px;
}
.dribbble {
	float:left;
	
	margin-top:22px;
	width:25%;
}
.leopards {
	float:left;
	
	margin-top:30px;
	width:25%;
}
.behance {
	float:left;
	
	margin-top:50px;
	width:25%;
}
.puma {
	float:left;
	width:25%;
}
.sport:after {
	content: '.';
	display:block;
	clear:both;
	height:0;
}
.footer-top {
	background:#6B6B6B;
	margin-top:30px;
	color:white;
}
.posts {
	width:19%;
	float:left;
	margin-right:70px;
}
.time {
	float:left;
	margin-right:3px;
}
.excerpt {
	color:gray;
}
.tags {
	width:19%;
	float:left;
	margin-right:70px;
}
.big-words {
	font-size:23px;
}
.about {
	width:19%;
	float:left;
	margin-right:70px;
}
.touch {
	width:19%;
	float:left;
}
.thumb {
	margin-top:5px;
	height:30px;
}
.contacts {
	display:inline-block;
	margin-right:15px;	
	vertical-align:middle;
}

.footer-top:after {
	content: '.';
	display:block;
	clear:both;
	height:0;
}
.footer-bottom {
	background:#252C2C;
	height:51px;
}
.rights {
	float:left;
	margin-top:13px;
}
.rights:after {
	content: '.';
	display:block;
	clear:both;
	height:0;
}
